@tailwind base;
@tailwind components;
@tailwind utilities;
.flexc {
  @apply flex items-center justify-center;
}
.transcenter {
  @apply absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2;
}
.transcenter-r {
  @apply absolute -translate-x-1/2 -translate-y-1/2 right-1/2 top-1/2;
}
.transall {
  @apply transition-all duration-100 ease-in-out;
}
@keyframes pingku {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.animate-pingku {
  animation: pingku 0.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes pulseku {
  50% {
    opacity: 0.5;
  }
}
.animate-pulseku {
  animation: pulseku 0.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes bounceku {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounceku {
  animation: bounceku 0.5s infinite;
}

.teskan {
  color: red;
}

.animate-slide-up {
  will-change: all;
  animation-name: animate-slide-up;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.animate-slide-down {
  will-change: all;
  animation-name: animate-slide-down;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.animate-scale-up {
  will-change: all;
  animation-name: animate-scale-up;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}
.animate-scale-down {
  will-change: all;
  animation-name: animate-scale-down;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}
.animate-squish {
  will-change: transform;
  animation-name: animate-squish;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}
.animate-squish-barbar {
  will-change: transform;
  animation-name: animate-squish-barbar;
  animation-duration: 150ms;
  animation-fill-mode: both;
}
.animate-squish-barbar-reverse {
  will-change: transform;
  animation-name: animate-squish-barbar;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}
.animate-squish-kalem {
  will-change: all;
  animation-name: animate-squish-kalem;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

@keyframes animate-slide-up {
  /* === BIASA AJA === */
  0% {
    top: 50%;
  }
  100% {
    top: -50%;
  }
}

@keyframes animate-slide-down {
  /* === BIASA AJA === */
  0% {
    top: -50%;
  }
  100% {
    top: 50%;
  }
}

@keyframes animate-scale-up {
  /* === BIASA AJA === */
  0% {
    transform: scale(0);
    bottom: -100%;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    bottom: 0%;
    opacity: 1;
  }
}

@keyframes animate-scale-down {
  /* === BIASA AJA === */
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animate-squish {
  /* === BIASA AJA === */
  0% {
    transform: scale(0.9, 0.95);
  }
  25% {
    transform: scale(1.15, 1);
  }
  75% {
    transform: scale(1, 1.15);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes animate-squish-barbar {
  /* === AGAK BARBAR === */
  0% {
    transform: scale(0.9, 0.95) skew(0deg, 0deg);
    animation-timing-function: ease-out;
  }
  25% {
    transform: scale(1.15, 1) skew(-5deg, 0deg);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: scale(1.15, 1) skew(5deg, 0deg);
    animation-timing-function: ease-in-out;
  }
  75% {
    transform: scale(1, 1.15) skew(0deg, -5deg);
    animation-timing-function: ease-in-out;
  }
  90% {
    transform: scale(1.05, 1.05) skew(0deg, 0deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1, 1) skew(0deg, 0deg);
    animation-timing-function: ease-out;
  }
}

@keyframes animate-squish-kalem {
  /* === AGAK KALEM === */
  0% {
    transform: scale(0.9, 0.95) skew(0deg, 0deg);
    animation-timing-function: ease-out;
  }
  25% {
    transform: scale(1.15, 1) skew(-5deg, 0deg);
    animation-timing-function: ease-in-out;
  }
  75% {
    transform: scale(1, 1.15) skew(0deg, -5deg);
    animation-timing-function: ease-in-out;
  }
  90% {
    transform: scale(1.05, 1.05) skew(0deg, 0deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1, 1) skew(0deg, 0deg);
    animation-timing-function: ease-out;
  }
}
